*{
    margin: 0;
    padding: 0;
    
}


header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: flex-start;
    background-color: mediumvioletred;
}

header img {
    width: 2vw;
    height: 5vh;
    
}



.menu {
    display: flex;
    justify-content: flex-start;
    
}

.menu h1 {
    font-weight: bold;
    margin-left: 10px;
    padding: 12px
}

button {
    padding: 8px;
    border: 1px solid;
    border-radius: 8px;
    
}
.container {
    display: flex;

}

nav{
    
    flex-direction: column;
    background-color: #f2d0e0;
    width: 450px;
    padding: 15px;
}

nav img {
    width: 2vw;
    margin-right: 35px;
       
}


nav ul {
    list-style: none;
}
nav a {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    padding: 15px;

}

nav a:hover {
    color: mediumvioletred;
    transition: all 0.5s;
}


main {
    display: flex;
    flex-wrap: wrap;
       
}

main img {
    width: 15vw;
}

section {
    margin: 10px auto;
    border: 1px solid;
    width:15vw;
    justify-content: flex-start;
}
h2, p {
    text-align: center;
}

footer {
    background-color: mediumvioletred;
    padding: 20px;
    font-weight: bold;
}

